/* Trying to reposition the icons. So far... no lock */
.#icons {
	position: absolute;
	border-top: center;
	border-left: center;
	border-bottom: center;
	border-right: center;

}
html {
	background-image: url("Background2.jpg");
	background-size: cover; /* Will cover page no matter how big the window is. */
	background-position: fixed;
	background-repeat: no-repeat;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	bottom: 0;
	background-attachment: fixed;
}
/* Making a picture opaque and a background

#background {
	opacity: .45;
	height: 200px;
	width: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
*/