/* This styles the content of my page */
body {
	text-align: center;
	padding-top: 10%
}

/* This creates a boarder around my text */
#text {
	
	border: 2px solid;
	border-radius: 25px;
	background: rgba(0, 0, 0, 0.45); /* This makes the background opaque */
}

/* I don't know if this is doing anything */
body div a #icons {
	position: absolute;
	border-top: center;
	border-left: center;
	border-bottom: center;
	border-right: center;

}

/*This is setting up the background image for the entire web page*/
html {
	background-image: url("Background2.jpg");
	background-size: cover; /* Will cover page no matter how big the window is. */
	background-position: fixed;
	background-repeat: no-repeat;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	bottom: 0;
	background-attachment: fixed;
}


/* Making a picture opaque and a background -- no longer relevant 

#background {
	opacity: .45;
	height: 200px;
	width: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
*/