
/*Trying to add a specific font but am having trouble...*/
@font-face {
  	font-family: 'MyWebFont';
  	src: url("//fonts.googleapis.com/css?family=Gloria+Hallelujah:400");
}

/* This styles the content of my page */
body {
	text-align: center;
	padding-top: 20%
	font-family: "MyWebFont";
	position: relative;
	left: 33%;
	top: 15%;
}

h2 {
	font-family: 'MyWebFont';
}

p {
	font-family: 'MyWebFont';
}
/* This creates a boarder around my text */
#border {
	border: 1px solid;
	border-radius: 25px;
	/* box-shadow: 5px 5px 10px 5px; ----- Not keeping this feature. This part of the code creates a shadow around the box */
	width: 30%;
	height: auto;
	padding: 20px;
	background: rgba(0, 0, 0, 0.45); /* This makes the background opaque */
	margin: center;
	position: relative;
}

/*This is setting up the background image for the entire web page*/
html {
	background-image: url("Background2.jpg");
	background-size: cover; /* Will cover page no matter how big the window is. */
	background-position: fixed;
	background-repeat: no-repeat;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	bottom: 0;
	background-attachment: fixed;
}


/* Making a picture opaque and a background -- no longer relevant 

#background {
	opacity: .45;
	height: 200px;
	width: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
*/